<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <div class="align-items-center" style="height:100px;">
    <div class="container mt-5">
        <h3>Login User Manesty-Capital</h3>
        <% if (errors) { %>
            <% const Parse = JSON.parse(errors) %>
            <h3 class="text-danger"><%= Parse.msg %></h3>
        <% } %>
        <!-- Using bootstrap built-in classes -->
        <form action="/login" method="post" class="border border p-5 rounded mt-4">
            <div class="form-floating mb-4">
                <input type="email" class="form-control" id="floatingInput" name="email" placeholder="admin@manesty.wtf">
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating mb-4">
                <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>
              <button type="submit" class="btn btn-primary">Log in</button> 
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
